<!DOCTYPE html>
<html>
<head>
	<title>Interview Experience Retreival</title>
</head>
<body>
<div style="padding-top: 200px">
<div align="center">
	<h1 style="color:teal">Interview Experience Retreival</h1>
</div>
<div align="center">
	<form name="Form" action="http://127.0.0.1:5000/query" method="GET">
		<strong>Enter the Search Text: </strong><br><br>
		<input type="text" name="query"><br><br>
        <strong>Enter the Company Name: </strong><br><br>
        <input type="text" name="company">
		<br><br>
		<input type="submit" action="submit" value="submit">
	</form>
</div>
</div>
</body>
</html>